body,
html {
    overflow-x: hidden;
    padding-right: 0 !important;
    background: #F4F5F7;
}

body {
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    font-weight: initial;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

.menu-title {
    color: #484848;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}

ul li, ol li, dl li {
    line-height: 1.8;
}

.menu-title:hover {
    color: #1F3BB3
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded=true] {
    background: #fff;
    color: #fff;
}

.sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 10px 35px 10px 35px;
    color: #484848;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    font-weight: 400;
    border-radius: 0px 20px 20px 0px;
}
